<!-- Really basic ordering page. I have literally no idea how to use thymeleaf.-->

<!DOCTYPE html>
<html 

xmlns:th="http://www.thymeleaf.org"> 

</html>

<head> 

<p> Welcome to Clucky's Chicken!</p>>

<!-- Logged out -->
<div th:if="${session.username == null}">
    <a href="/slots">View Pickup Times</a>
    <br><br>

    <a href="/login">Login</a>
    <br><br>

    <a href="/register">Create Account</a>
</div>

<!-- Logged in -->
<div th:if="${session.username != null}">

    <h2>
        Welcome, <span th:text="${session.username}"></span>!
    </h2>

    <!-- Everyone logged in can view slots -->
    <a href="/slots">View Pickup Times</a>

    <br><br>

    <!-- Customer only -->
    <a th:if="${session.role == 'CUSTOMER'}"
       href="/my-orders">
        My Orders
    </a>

    <br><br>

    <!-- Provider only -->
    <div th:if="${session.role == 'PROVIDER'}">
        <a href="/staff/orders">View Staff Orders</a>

        <br><br>

        <a href="/staff/slots">Manage Pickup Slots</a>
    </div>

    <br>

    <a href="/logout">Logout</a>

</div>

</body>
</html>