<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pickup Slots</title>
</head>
<body>

<h1>Available Pickup Times</h1>

<div th:each="slot : ${slots}">
    <p>
        <span th:text="${slot.startTime}"></span>
        -
        <span th:text="${slot.endTime}"></span>
    </p>

    <a th:href="@{/book(slotId=${slot.ID})}">
        Book
    </a>

    <br><br>
</div>
<div>
    <a
        th:if="${page > 0}"
        th:href="@{/slots(page=${page - 1})}">
        Previous
    </a>

    <span>
        Page
        <span th:text="${page + 1}"></span>
        of
        <span th:text="${totalPages}"></span>
    </span>

    <a
        th:if="${page + 1 < totalPages}"
        th:href="@{/slots(page=${page + 1})}">
        Next
    </a>
</div>
<a href="/">Back Home</a>

</body>
</html>